.input-container {
  background-color: "#F6F6F6";
  display: flex;
  width: min(80%, 400px);
  border: 1px #929292 solid;
  justify-content: center;
  align-items: center;
}


label {
  text-transform: uppercase;
}

input {
  background-color: "#F6F6F6";
  border: none;
  border-radius: 0;
  text-decoration: none;
  width: 100%;
  padding: 24px 17px;
  font-size: 14px;
  font-family: 'LEMONMILK',Helvetica, Arial;
}