button {
  width: min(80%, 400px);
  padding: 24px 60px;
  font-size: 14px;
  font-family: 'LEMONMILK',Helvetica, Arial;
  box-shadow: 1px 1px 30px rgba(0,0,0,0.20);
  border: none;
  white-space:nowrap; 
  cursor: pointer;
  text-align: center;
  user-select: none;
  opacity: 1;
  transition: opacity 100ms ease-in-out;
}

button:active {
  opacity: 0.25;
}